openapi: 3.0.3
info:
  title: Nova User Management API
  description: |
    The Nova User Management API allows you to programmatically manage users, 
    teams, roles, and permissions within the Nova Core platform. Use this API 
    to automate user provisioning, manage access controls, and integrate Nova 
    Core with your existing identity systems.
    {Shakeer} - Adding this line for testing
    Testing APi docs - CI/CD
  version: 1.0.0
  contact:
    name: Nova Developer Support
    email: api-support@nova.io
    url: https://developers.nova.io
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.nova.io/v1
    description: Production
  - url: https://api.sandbox.nova.io/v1
    description: Sandbox

security:
  - BearerAuth: []

tags:
  - name: Users
    description: Create and manage user accounts
  - name: Teams
    description: Organise users into teams
  - name: Roles
    description: Manage roles and permissions

paths:
  /users:
    get:
      tags: [Users]
      summary: List all users
      description: Returns a paginated list of all users in your organisation.
      operationId: listUsers
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, pending]
      responses:
        '200':
          description: A list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Users]
      summary: Create a user
      description: Creates a new user account in your organisation.
      operationId: createUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Email already exists

  /users/{userId}:
    get:
      tags: [Users]
      summary: Get a user
      description: Retrieves a single user by their ID.
      operationId: getUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

    patch:
      tags: [Users]
      summary: Update a user
      description: Updates one or more fields of an existing user.
      operationId: updateUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRequest'
      responses:
        '200':
          description: User updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Users]
      summary: Delete a user
      description: Permanently deletes a user from your organisation.
      operationId: deleteUser
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '204':
          description: User deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /users/{userId}/roles:
    get:
      tags: [Roles]
      summary: Get user roles
      description: Returns all roles assigned to a user.
      operationId: getUserRoles
      parameters:
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: List of roles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Role'

    post:
      tags: [Roles]
      summary: Assign a role
      description: Assigns a role to a user.
      operationId: assignRole
      parameters:
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [roleId]
              properties:
                roleId:
                  type: string
                  example: role_admin
      responses:
        '200':
          description: Role assigned

  /teams:
    get:
      tags: [Teams]
      summary: List all teams
      operationId: listTeams
      responses:
        '200':
          description: List of teams
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Team'

    post:
      tags: [Teams]
      summary: Create a team
      operationId: createTeam
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTeamRequest'
      responses:
        '201':
          description: Team created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'

  /teams/{teamId}/members:
    post:
      tags: [Teams]
      summary: Add member to team
      operationId: addTeamMember
      parameters:
        - name: teamId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [userId]
              properties:
                userId:
                  type: string
      responses:
        '200':
          description: Member added

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    UserId:
      name: userId
      in: path
      required: true
      schema:
        type: string
      example: usr_01HX8

  responses:
    Unauthorized:
      description: Missing or invalid API token
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Invalid request body
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: usr_01HX8
        email:
          type: string
          example: emma.thompson@acme.io
        firstName:
          type: string
          example: Emma
        lastName:
          type: string
          example: Thompson
        status:
          type: string
          enum: [active, inactive, pending]
          example: active
        role:
          type: string
          example: admin
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateUserRequest:
      type: object
      required: [email, firstName, lastName]
      properties:
        email:
          type: string
          example: emma.thompson@acme.io
        firstName:
          type: string
          example: Emma
        lastName:
          type: string
          example: Thompson
        roleId:
          type: string
          example: role_editor

    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
        lastName:
          type: string
        status:
          type: string
          enum: [active, inactive]

    Team:
      type: object
      properties:
        id:
          type: string
          example: team_01KY2
        name:
          type: string
          example: Documentation Team
        memberCount:
          type: integer
          example: 5
        createdAt:
          type: string
          format: date-time

    CreateTeamRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          example: Documentation Team
        description:
          type: string

    Role:
      type: object
      properties:
        id:
          type: string
          example: role_admin
        name:
          type: string
          example: Admin
        permissions:
          type: array
          items:
            type: string
          example: [read, write, delete, manage_users]

    PaginationMeta:
      type: object
      properties:
        total:
          type: integer
        page:
          type: integer
        limit:
          type: integer
        totalPages:
          type: integer

    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
